* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight:bold;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1{
  font-size: 24px;
  margin: 16px 0px;
}
h2{
  font-size: 20px;
  margin: 16px 0px;
}

p, li, td{
  font-weight:normal;
}

td, th {
  padding: 4px 8px;
  border: 1px solid black;
}

header, main{
  margin: 24px 48px;
  padding: 16px 4px;
}

footer{
  margin-top: auto;
  width: 100%;
  padding: 16px 52px;
  background-color: black;
  color: white;
}

article img {
  width: 100%;
}
table{
  padding: 16px;
  border: 0;
  border-collapse: collapse;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
a:hover, #active{
  color:tomato;
}

section{
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 800px) {
  nav {
    justify-content: space-between;
  }

  article img {
    width: 500px;
  }
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 22px;
  }

  article img {
    width: 100%;
  }

  td, th {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  td, th {
    font-size: 14px;
  }
}
