* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight:bold;
}
h1{
  font-size: 24px;
  margin: 16px 0px;
}
h2{
  font-size: 20px;
  margin: 16px 0px;
}

p, li, td{
  font-weight:normal;
}

td, th {
  padding: 4px 8px;
}

div, header, main{
  margin: 24px 48px;
  padding: 16px 4px ;

 }

footer{
  width: 100%;
  padding: 16px 52px;
  background-color: black;
  color: white;
}

img { 
  width: 500px;
}
table{
  padding: 16px;
  border: 0;
  border-collapse: collapse;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color:red;
}
